.idea/*
*_checkpoints/*
bases/*
*projeto/logs/*
venv/*
*.zip
*.hdf5
*_erro_*
kerastunerlogs/
*.h5
*.pkl
*_checkpoints
/logs/*
/keras-tuner/
/extracoes/notebooks/vazios/*
/extracoes/notebooks/vazios_cropped/*
/extracoes/notebooks/transformed_vazios*
/extracoes/notebooks/ncmsunicos*
/extracoes/notebooks/cocaina*
/extracoes/notebooks/tfserving/*
/Publicacao_modelos/tfserving/*
