model_config_list: {
  config: {
    name: "peso",
    base_path: "/home/ivan/pybr/projeto/Publicacao_modelos/tfserving/peso",
    model_platform: "tensorflow" 
  },
  config: {
    name: "vazio",
    base_path: "/home/ivan/pybr/projeto/Publicacao_modelos/tfserving/vazio",
    model_platform: "tensorflow" 
  }
}

